@use "./../../../../src/scss/variables/breakpoints" as variables;
@use "./../../../../src/scss/functions";
@use "./../../../../src/scss/mixins";

.c-page-intro {
  $self: &;

  #{$self}__wrapper {
  }
}