/* FIX: menu items can also be spans */

.menu--main > .menu > .menu__item > span{
  font-size: 18px;
}

.c-page-header__inner .menu--main > .menu .menu__item--expanded > span {
  display: flex;
  align-items: center;
  gap: 0.4375rem;
  position: relative;
}

.c-page-header__inner .menu--main > .menu .menu__item--expanded > span::after {
  content: "\e902";
  font-family: icons, sans-serif !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  font-size: 0.3125rem;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: var(--transition-eased);
}

.c-page-header__inner .menu--main > .menu .menu__item--expanded:focus-within > span::after,
.c-page-header__inner .menu--main > .menu .menu__item--expanded:hover > span::after {
  transform: rotate(180deg);
}


/* FEAT: placeholder when image unavailable */

.c-card__media img,
.c-info-box__media img {
  text-align: center;
  line-height: 10rem;
  background-color: #f8f8f8;
}

/* FEAT: caption for table paragraphs */

.bestor-table-caption {
    font-size: 15px;
    font-style: italic;
    margin-block-start: 18px;
}