@use "./../../../../src/scss/variables/breakpoints" as variables;
@use "./../../../../src/scss/functions";
@use "./../../../../src/scss/mixins";

.c-input-radio {
  z-index: -1;
  opacity: 0;
  position: absolute;

  ~ label {
    margin-bottom: 0;
    position: relative;
    padding-left: functions.rem(30px);
    cursor: pointer;
    color: var(--color-text);

    a {
      text-decoration: underline;
      color: inherit;
    }

    &::before {
      content: "";
      position: absolute;
      top: functions.rem(6px);
      left: 0;
      display: block;
      width: functions.rem(16px);
      height: functions.rem(16px);
      pointer-events: none;
      background-color: transparent;
      border: 1px solid var(--color-dark);
      border-radius: 100%;
      transition: var(--transition-default);
    }

    &::after {
      content: "";
      position: absolute;
      border-radius: 100%;
      width: functions.rem(11px);
      height: functions.rem(11px);
      top: functions.rem(8.5px);
      left: functions.rem(2.5px);
      background-color: var(--color-primary);
      opacity: 0;
      transition: var(--transition-default);
    }
  }

  &:checked ~ label {
    &::before {
      border-color: var(--color-primary);
    }

    &::after {
      opacity: 1;
    }
  }
}