{#
/**
 * @file
 * Default theme implementation for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 *
 * @ingroup themeable
 */
#}

{% set content %}
  <form{{ attributes }}>
    {{ children }}
  </form>
{% endset %}


 {{ include('jakarta:c-structured-layout', {
  top: top,
  content,
  attributes: attributes.addClass('pagecontent-form'),
}, with_context = false) }}