@use "./../../../../src/scss/variables/breakpoints" as variables;
@use "./../../../../src/scss/functions";
@use "./../../../../src/scss/mixins";

.c-cta {
  $self: &;

  text-align: center;

  #{$self}__wrapper {
    padding-block: functions.rem(60px);

    @media screen and (min-width: variables.$breakpoints-tablet) {
      @include mixins.grid-wrapper(0);
      padding-block: functions.rem(135px);
    }

    @media screen and (min-width: variables.$breakpoints-desktop) {
      padding-block: functions.rem(160px);
    }
  }

  #{$self}__inner {
    border: 1px solid var(--color-dark);
    padding: functions.rem(88.5px) functions.rem(20px) functions.rem(40px);
    position: relative;
    border-top-left-radius: functions.rem(20px);

    &::after {
      content: "";
      position: absolute;
      top: functions.rem(-1px);
      right: functions.rem(-1px);
      background: url("./c-cta-corner.svg");
      width: functions.rem(177.5px);
      height: functions.rem(48.5px);
      display: block;
    }

    @media screen and (min-width: variables.$breakpoints-tablet) {
      @include mixins.grid-item(8);
      @include mixins.grid-item-start(3);
      padding: functions.rem(95px) functions.rem(80px);
    }

    @media screen and (min-width: variables.$breakpoints-desktop) {
      @include mixins.grid-item(12);
      @include mixins.grid-item-start(7);
      padding: functions.rem(95px) functions.rem(160px);
    }
  }

  #{$self}__title,
  #{$self}__text, {
    text-align: center;
  }

  #{$self}__links {
    margin-block-start: functions.rem(36px);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: functions.rem(15px) functions.rem(35px);
  }
}