@use "./../../../../src/scss/variables/breakpoints" as variables;
@use "./../../../../src/scss/functions";
@use "./../../../../src/scss/mixins";

.c-text-media {
  $self: &;

  @include mixins.grid-flex-wrapper;
  flex-direction: column;
  gap: calc(var(--grid-gutter) / 2);

  // LAYOUT 50/50.
  &--media-layout-50-50 {
    #{$self}__media {
      @media screen and (min-width: variables.$breakpoints-tablet) {
        width: 41.67%;
      }
    }

    #{$self}__text {
      @media screen and (min-width: variables.$breakpoints-tablet) {
        width: calc(100% - 41.67% - calc(var(--grid-gutter) / 2));
      }

      @media screen and (min-width: variables.$breakpoints-desktop) {
        width: calc(100% - 41.67% - var(--grid-gutter));
      }
    }
  }

  // LAYOUT IMAGE_33.
  &--media-layout-image-33 {
    #{$self}__media {
      @media screen and (min-width: variables.$breakpoints-tablet) {
        width: 25.1%;
      }
    }

    #{$self}__text {
      @media screen and (min-width: variables.$breakpoints-tablet) {
        width: calc(100% - 25.1% - calc(var(--grid-gutter) / 2));
      }

      @media screen and (min-width: variables.$breakpoints-desktop) {
        width: calc(100% - 25.1% - var(--grid-gutter));
      }
    }
  }

  @media screen and (min-width: variables.$breakpoints-tablet) {
    flex-direction: row;
    align-items: center;

    // POSITION RIGHT.
    &--media-position-right {
      flex-direction: row-reverse;
    }
  }

  @media screen and (min-width: variables.$breakpoints-desktop) {
    gap: var(--grid-gutter);
  }
}
