@use "./../../../../src/scss/variables/breakpoints" as variables;
@use "./../../../../src/scss/functions";
@use "./../../../../src/scss/mixins";

.c-tag {
  font-family: var(--font-family-title);
  line-height: 1.25;
  display: grid;
  grid-template-columns: 1fr auto;

  .c-tag__content {
    z-index: 1;
    padding: functions.rem(6px) functions.rem(4px) functions.rem(4px) functions.rem(16px);
    font-weight: var(--font-weight-light);
    line-height: 1.25;
    text-transform: uppercase;
    border-top-left-radius: 1rem;
    text-wrap: nowrap;
  }
}

// CORNER DOWN.
.c-tag--corner-down {

  .c-tag__corner {
    mask-size: contain;
    mask-image: url("./c-tag-corner-down.svg");
    mask-repeat: no-repeat;
    mask-position: left center;
    height: 100%;
    aspect-ratio: 1;
  }
}

// CORNER UP.
.c-tag--corner-up {

  .c-tag__corner {
    mask-size: contain;
    mask-image: url("./c-tag-corner-up.svg");
    mask-repeat: no-repeat;
    mask-position: left center;
    height: 100%;
    aspect-ratio: 1;
  }
}

// PRIMARY.
.c-tag--color-primary {
  .c-tag__content,
  .c-tag__corner {
    background: var(--color-primary);
    color: var(--color-grey-light);
  }
}

// GREY.
.c-tag--color-grey {
  .c-tag__content,
  .c-tag__corner {
    background: var(--color-border-grey-light);
    color: var(--color-text);
  }
}

// BEIGE.
.c-tag--color-beige {
  .c-tag__content,
  .c-tag__corner {
    background: var(--color-tertiary);
    color: var(--color-text);
  }
}