@use "./../../../../src/scss/variables/breakpoints" as variables;
@use "./../../../../src/scss/functions";
@use "./../../../../src/scss/mixins";

.c-related-concepts {
  $self: &;

  #{$self}__concepts {
    ul {
      display: flex;
      flex-direction: column;
      gap: functions.rem(3px);

      a {
        text-decoration: underline;
      }
    }
  }
}