/* TEASERS */

.node-view-mode-teaser{
    border-bottom:unset !important;
    margin-bottom: 2.5rem !important;
}

.node-view-mode-teaser .node-title,
.node-view-mode-bibliography .node-title{
    font-size: 18px; 
    line-height: 1.2 !important;
    display: flex;
    flex-grow:1;
    gap:10px;
    align-items: center;
  }

  .node-view-mode-teaser .node-title a{
    color:#000;
  }

.teaser-image {
    flex: 0 0 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
}

.bibliography-image {
  flex: 0 0 75px;
  height: 100px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; 
}

.bundle-type {
    position: absolute;
    top: 0;
    background-color:#DC143C;
    color:#fff;
    max-width: 100%;
    padding: 2px 5px;
    font-size: 12px;
}

.bibliography-container .bundle-type, 
.bibliography-container .btn{
  background-color:#282828;
}

.teaser-container, 
.bibliography-container{
    display:flex;
    gap:10px;
}

.teaser-text,
.bibliography-text{
    display:flex;
    flex-direction: column;
    flex-grow:1;
    align-items:flex-start;
}

.database-item-metadata .publication-date,
.teaser-text .publication-date,
.tile-text .publication-date{
    font-size: 11px;
    color: grey;
}


/* calendar icon */

.time.icon{
    font-size: 1em; /* change icon size */
    display: block;
    position: relative;
    background-color: #fff;
    border-radius: 0.6em;
    box-shadow: 0 1px 0 #bdbdbd, 0 2px 0 #fff, 0 3px 0 #bdbdbd, 0 4px 0 #fff, 0 5px 0 #bdbdbd, 0 0 0 1px #bdbdbd;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    -webkit-transform: rotate(0deg) skewY(0deg);
    -webkit-transform-origin: 50% 10%;
    transform-origin: 50% 10%;
  }
  
  .time.icon *{
    display: block;
    width: 100%;
    font-style: normal;
    
  }
  
  .bundle-type-event{  
        box-shadow: 0 2px 0 #DC143C;
  }
  

  .time.icon span{
    width: 100%;
    letter-spacing: -0.05em;
    padding-top: 0;
    color: #2f2f2f;
    text-align: center;
    line-height: 1.2em;
  }
  
  .time.icon span.time-day{
      font-size:35px;
      font-weight: 600;
  }

  /* Tiles */

  
.node-view-mode-tile{
  display:flex;
  gap: 35px;
  height:450px;
  border: solid 1px #eee;
}

a .tile-text{
  color:#000;
}

.node-view-mode-tile > * {
  flex:1
}

.tile-text{
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  padding:10px 25px 25px 0;
  overflow:hidden;
  text-overflow: ellipsis;
}

.node-view-mode-tile .intro-text{
  font-size:16px;
}

.tile-text .reading-time{
  text-align: center;
  margin-bottom:10px;
  font-size:16px;
}

.tile-text .publication-date{
  margin-top:10px;
}

.node-view-mode-tile:hover, 
.database-item-container:hover{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* Database view */

.database-view{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap:20px;
}

.database-item-container{
  width: 300px;
  padding:20px;
  border: solid 1px #eee; 
  display:flex;
}

.database-item-container > *{
flex:1;
}

.database-item-content{
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  height:100%;
  gap:10px;

}

.database-item-image{
  height:150px;
  width:100%;
}

.database-view .pager{
  grid-column: 1 / -1;
  justify-self: center;
}

.database-item-metadata{
display:flex;
flex-direction:row;
flex-wrap:nowrap;
justify-content:space-between;
align-items:center;
}
.database-item-content .bundle-type {
position:relative;
}

.database-item-title{
color:black;
line-height:26px;  
}

/* Lemma's*/

.lemma-header{
  min-height:400px;
  position:relative;

}

.lemma-banner {
  margin-top:20px;
  margin-bottom:70px;
  position: relative;
  display: flex;
  min-height: 200px;
  flex-direction: row;;
  gap:0px;
}

.lemma-image {
  height: 400px;
  width: 400px;
  background-size: cover;
  background-position: center;
  z-index: 1;
  border-radius:200px;
  border-right: #282828 solid;

}

.lemma-intro {
  position:relative;
  flex: 1;
  background-color: #eee;
  margin: 50px 0 25px -300px;
  padding:30px 30px 20px 350px;
  border-radius:10px;
  font-size:21px;
}

.node-taxonomy-container{
  padding:unset;
}

.lemma-author .node-taxonomy-container,
.lemma-author ul.taxonomy-terms,
.lemma-author li.taxonomy-term{
  margin:unset !important;
  display:inline;
}

.lemma-author li.taxonomy-term a,
.lemma-author li.taxonomy-term a:hover  {
    color:unset;
    background-color: unset;
    border: 0;
    border-radius: unset;
    box-shadow: unset;
    padding:unset;
    border-bottom:1px solid;
  }

.lemma-author li.taxonomy-term a:hover {
    border-bottom:unset;
}

.lemma-author  li::after {
  content: ', ';
}

.lemma-author  li:nth-last-child(2)::after {
  content: ' & ';
}

.lemma-author li:last-child::after {
  content: '';
}

.lemma-metadata i{
  font-size:30px;
  text-align:center;
  width:30px;
  margin-right:8px;
}

.lemma-metadata {
  display:flex;
  flex-wrap: wrap;
  justify-content:space-between;
  min-height:50px;
}

.lemma-metadata > *{
  flex:1;
  padding:0px 0;
  display:flex;
  align-items:center;
}

.lemma-metadata > .lemma-author{
  padding-left:10px;
}

.lemma-metadata > .reading-time{
  justify-content:center;
  border-radius:40px;
  background-color:#282828;
  color:white;
  width:50px;
}

.lemma-metadata > .publication-date{
  padding-right:10px;
  justify-content:flex-end;
}

.ce-place .context-element-content{
  display:flex;
  align-items:center;
  gap:10px;
}


.ce-place .context-element-content > * {
  
  display:inline-block;
}