{% set attributes = create_attribute() %}

{% set c_name = "c-lightbox" %}

{% set classes = [
  c_name
] %}

<a {{ attributes.addClass(classes) }} data-lightbox-custom href="{{ url }}">
  {% if thumbnail %}
    {{ thumbnail }}
  {% endif %}
</a>
