@use "./../variables";
@use "./../functions";

.c-pager {
  margin-top: functions.rem(60px);
  text-align: center;
  text-transform: uppercase;
  font-size: functions.rem(14px);

  ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: functions.rem(15px);

    a {
      color: var(--color-primary);

      &.is-active {
        font-weight: var(--font-weight-bold);
      }
    }
  }
}

.c-pager__item--first,
.c-pager__item--last {
  display: none;
}
