button {
    margin: 0;
    padding: 0;
    border: none;
    box-shadow: none;
    appearance: none;
    outline: none;
    text-decoration: none;
    line-height: inherit;
    font-family: inherit;
    font-size: inherit;
    background: transparent;
    cursor: pointer;
}

