@font-face {
  font-family: icons;
  src: url("../../fonts/icons/icomoon.eot");
  src:
    url("../../fonts/icons/icomoon.eot") format("embedded-opentype"),
    url("../../fonts/icons/icomoon.ttf") format("truetype"),
    url("../../fonts/icons/icomoon.woff") format("woff"),
    url("../../fonts/icons/icomoon.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
