.site-wrapper {
  img,
  svg {
    vertical-align: top;
    max-width: 100%;
    height: auto;
  }

  img:not(.field--type-text-with-summary img):not(.field--type-text-long img),
  svg:not(.field--type-text-with-summary svg):not(.field--type-text-long svg) {
    width: auto;
  }

  video {
    width: 100%;
    height: auto;
    vertical-align: top;
  }
}
