{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
  ]
%}

{% set use_multiple = paragraph.field_cardinality_exception.value %}
{% set media %}
  {% if use_multiple %}
    {{ content.field_media_multiple }}
  {% else %}
    {{ content.field_media }}
  {% endif %}
{% endset %}

{% set media_position = 'right' %}
{% set media_layout = '50_50' %}

{% set layout = paragraph.field_paragr_layout__text_media.value %}
{% if layout == 'img_50_l' %}
  {% set media_position = 'left' %}
{% elseif layout == 'img_33_r' %}
  {% set media_layout = 'image_33' %}
{% elseif layout == 'img_33_l' %}
  {% set media_position = 'left' %}
  {% set media_layout = 'image_33' %}
{% endif %}

<div{{ attributes.addClass(classes).addClass('h-margin-top-40') }}>
  {% block paragraph_content %}
    {{ include('jakarta:c-text-media', {
      media,
      text: content.field_formatted_text,
      media_position: media_position,
      media_layout: media_layout,
    }, with_context = false) }}
  {% endblock %}
</div>