{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    'h-margin-top-40',
  ]
%}

{% set use_multiple = paragraph.field_cardinality_exception.value %}

<div{{ attributes.addClass(classes) }}>
  {% block paragraph_content %}
    {% if use_multiple %}
      {{ content.field_media_multiple }}
    {% else %}
      {{ content.field_media }}
    {% endif %}
  {% endblock %}
</div>