@use "./../variables/breakpoints";

:root {
  --grid-offset: 20px; // originally 80px
  --grid-offset-mobile: 20px; // originally 20px
  --grid-gutter: 3rem; // originally 80px
  --grid-gutter-mobile: 3rem; // originally 30px
  --grid-width: 1760px;
  --grid-total-columns: 24;
  --grid-total-columns-tablet: 12;
  --grid-total-columns-mobile: 4;
}
