@use "./../variables";

.h-image-full-width {
  img {
    width: 100%;
  }
}

.h-image-children-display-block {
  img {
    display: block;
  }
}

.h-image-object-cover {
  * {
    width: 100%!important;
    height: 100%!important;
  }

  img,
  video {
    object-fit: cover;
    position: absolute;
    width: 100%!important;
    height: 100%!important;
  }
}
