@use "./../../variables";
@use "./../../mixins";
@use "./../../functions";

.breadcrumbs-list {
  font-size: functions.rem(14px);
}

.breadcrumbs-list__item {
  display: inline-block;
  font-weight: var(--font-weight-semibold);

  &::after {
    content: ".";
    display: inline-block;
  }

  &:last-child {
    font-weight: var(--font-weight-regular);

    &::after {
      display: none;
    }
  }
}
