{#
/**
 * @file
 * Template for the component c-related-concepts.
 */
#}

{% extends '@jakarta/components/_skeleton/component-base.html.twig' %}

{% set component_name = 'c-related-concepts' %}
{% set custom_component_classes = c_related_concepts_utility_classes %}

{% block component_content %}
  {% if title %}
    <div class="{{ component_name }}__title">
      {{ include('jakarta:c-heading', {
        content: title,
        heading_tag: 'h4',
        heading_class: 'h4',
      }, with_context = false) }}
    </div>
  {% endif %}
  {% if concepts %}
    <div class="{{ component_name }}__concepts">
      {{ concepts }}
    </div>
  {% endif %}
{% endblock %}
