#block-bestor-branding img{
  min-width:100px;
}

.homepage.slider-page .header {
  min-height: unset !important;
}

.frontpage-banner.h1{
  color:rgba(255,255,255,0.9);
  font-size: 600px;
  text-align: center;
}

.header {
    background-image: unset !important;
  }

.header .frontpage-search-block{
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

.frontpage-search-block > .container{
  position:absolute;
}

.searchForm > form{
  display: flex;
  align-items: stretch;
  border:solid 1px #DC143C
}

.searchForm > form > div{
  margin: unset;
}

.searchForm > form > div.form-type-textfield{
  width:100%;
  margin-right: -50px;
}

.searchForm > form > div.form-type-textfield input{
  width:100%;
  box-sizing: border-box;
  padding-right:60px;
  line-height: unset;
  background-color: rgba(255,255,255,1);
}

.searchForm > form > div.form-actions input{
  width:50px;
  height:50px;
  border-radius:unset;
}
