/* Logo */
#block-bestor-branding img{
  min-width:100px;
}

/* Language Switcher */
#block-bestor-languageswitcher ul.links{
  gap:3px;
}

#block-bestor-languageswitcher ul.links li a{
  font-size:12px;
  padding:2.5px
}

#block-bestor-languageswitcher ul.links li.is-active a{
  background-color: #DC143C;
  color:white;
  border-radius:20px;
}

#block-bestor-languageswitcher ul.links li a:hover{
  background-color: #07bae4;
  color:white;
  border-radius:20px;
}

/* Homepage banner */
.homepage.slider-page .header {
  min-height: unset !important;
}

.frontpage-banner.h1{
  color:rgba(255,255,255,0.9);
  font-size: 600px;
  text-align: center;
}

.header {
    background-image: unset !important;
  }

.header .frontpage-search-block{
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

.frontpage-search-block > .container{
  position:absolute;
}

.searchForm > form{
  display: flex;
  align-items: stretch;
  border:solid 1px #DC143C;
  max-width:1100px;
  margin-left:auto;
  margin-right:auto;
}

.searchForm > form > div{
  margin: unset;
}

.searchForm > form > div.form-type-textfield{
  width:100%;
  margin-right: -50px;
}

.searchForm > form > div.form-type-textfield input{
  width:100%;
  box-sizing: border-box;
  padding-right:60px;
  line-height: unset;
  background-color: rgba(255,255,255,1);
}

.searchForm > form > div.form-actions input{
  width:50px;
  height:50px;
  border-radius:unset;
}

.header-top-right{
  margin-left: auto;
}

/* Search box - NOT front page */
.search-box.open {
  z-index: 502;
  background-color: var(--dark);
}

.header-right .search-box.open .block-region.region-search-box{
  margin-right:40px !important;
}

.search-box.open .header-search-close{
  border-color: white;
  color: white;
}