/* TEASERS */

.node-view-mode-teaser{
    border-bottom:unset !important;
    margin-bottom: 2.5rem !important;
}

.node-view-mode-teaser .node-title,
.node-view-mode-bibliography .node-title{
    font-size: 18px; 
    line-height: 1.2 !important;
    display: flex;
    flex-grow:1;
    gap:10px;
    align-items: center;
  }

  .node-view-mode-teaser .node-title a{
    color:#000;
  }

.teaser-image {
    flex: 0 0 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
}

.bibliography-image {
  flex: 0 0 75px;
  height: 100px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; 
}

.bundle-type {
    position: absolute;
    top: 0;
    background-color:#DC143C;
    color:#fff;
    max-width: 100%;
    padding: 2px 5px;
    font-size: 12px;
}

.bibliography-container .bundle-type, 
.bibliography-container .btn{
  background-color:#282828;
}

.teaser-container, 
.bibliography-container{
    display:flex;
    gap:10px;
}

.teaser-text,
.bibliography-text{
    display:flex;
    flex-direction: column;
    flex-grow:1;
    align-items:flex-start;
}

.publication-date{
    font-size: 11px;
    color: grey;
}

.teaser-text a.btn::before,
.bibliography-text a.btn::before {
    content: '';
    position: absolute;
    bottom:-12px;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-left: 12px solid white;
    pointer-events: none;
  }

.teaser-text a.btn::before {
    left: 110px;
  }

.bibliography-text a.btn::before {
    left: 85px;
  }

  .teaser-text a.btn,
  .bibliography-text a.btn{
    padding-left:18px;
}


/* calendar icon */

.time.icon{
    font-size: 1em; /* change icon size */
    display: block;
    position: relative;
    background-color: #fff;
    border-radius: 0.6em;
    box-shadow: 0 1px 0 #bdbdbd, 0 2px 0 #fff, 0 3px 0 #bdbdbd, 0 4px 0 #fff, 0 5px 0 #bdbdbd, 0 0 0 1px #bdbdbd;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    -webkit-transform: rotate(0deg) skewY(0deg);
    -webkit-transform-origin: 50% 10%;
    transform-origin: 50% 10%;
  }
  
  .time.icon *{
    display: block;
    width: 100%;
    font-style: normal;
    
  }
  
  .bundle-type-event{  
        box-shadow: 0 2px 0 #DC143C;
  }
  

  .time.icon span{
    width: 100%;
    letter-spacing: -0.05em;
    padding-top: 0;
    color: #2f2f2f;
    text-align: center;
    line-height: 1.2em;
  }
  
  .time.icon span.time-day{
      font-size:35px;
      font-weight: 600;
  }

  /* Tiles */

  
.node-view-mode-tile{
  display:flex;
  gap: 35px;
  height:450px;
  border: solid 1px #eee;
}

a .tile-text{
  color:#000;
}

.node-view-mode-tile > * {
  flex:1
}

.tile-text{
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  padding:10px 25px 25px 0;
  overflow:hidden;
  text-overflow: ellipsis;
}

.node-view-mode-tile .intro-text{
  font-size:16px;
}

.tile-text .reading-time{
  text-align: center;
  margin-bottom:10px;
  font-size:16px;
}

.tile-text .publication-date{
  margin-top:10px;
}

.node-view-mode-tile:hover{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}