@use "./../../../../src/scss/variables/breakpoints" as variables;
@use "./../../../../src/scss/functions";
@use "./../../../../src/scss/mixins";

.c-text {
  $self: &;

  padding-block: functions.rem(60px);

  &--intro {
    #{$self}__text {
      font-size: clamp(var(--font-size-base), 1.04vw, 18px);
    }
  }

  &--columns-2 {
    #{$self}__text {
      @media screen and (min-width: variables.$breakpoints-tablet) {
        column-count: 2;
        column-gap: calc(var(--grid-gutter) / 2);
      }

      @media screen and (min-width: variables.$breakpoints-desktop) {
        column-gap: var(--grid-gutter);
      }
    }
  }

  @media screen and (min-width: variables.$breakpoints-desktop) {
    padding-block: functions.rem(95px);
  }

  + .c-text,
  + .c-text-media,
  + .c-media-1-item {
    padding-block-start: 0;
  }
}
