{#
/**
 * @file
 * Social media icons component for footer.
 */
#}
{% set social_platforms = {
  'facebook': 'facebook_url',
  'instagram': 'instagram_url',
  'x': 'x_url',
  'linkedin': 'linkedin_url',
  'bluesky': 'bluesky_url',
} %}

{# Build social media links #}
{% set social_links = [] %}
{% for platform, setting_id in social_platforms %}
  {% if setting_id %}
    {% set url = bestor('site_setting', setting_id) %}
    {% if url %}
      {% set social_links = social_links|merge([{
        'url': url,
        'icon': platform,
      }]) %}
    {% endif %}
  {% endif %}
{% endfor %}

{# Only render if we have at least one social link #}
{% if social_links is not empty %}
  {% set social_medias %}
    {% for link in social_links %}
      <a href="{{ link.url }}" target="_blank" rel="noopener">
        {{ include('jakarta:c-icon', {
          icon: link.icon,
        }, with_context = false) }}
      </a>
    {% endfor %}
  {% endset %}

  
  {{ include('jakarta:c-socials', {
    title: 'Follow us'|t,
    social_medias: social_medias,
  }, with_context = false) }}
{% endif %}