@use "./../../../../src/scss/variables/breakpoints" as variables;
@use "./../../../../src/scss/functions";
@use "./../../../../src/scss/mixins";

.c-socials {
  $self: &;

  #{$self}__social-media {
    display: flex;
    align-items: center;
    gap: functions.rem(20px);

    a:not(.c-button) {
      font-size: functions.rem(24px);

      &:hover,
      &:focus {
        color: var(--color-light);
      }
    }
  }
}