@use "../variables/breakpoints" as variables;

@mixin grid-flex-wrapper {
  display: flex;
  flex-wrap: wrap;
}

@mixin grid-flex-item($cols) {
  width: calc(#{$cols} / var(--grid-total-columns) * 100%);
}

@mixin grid-push-left($cols) {
  margin-left: calc(#{$cols} / var(--grid-total-columns) * 100%);
}

@mixin grid-push-right($cols) {
  margin-right: calc(#{$cols} / var(--grid-total-columns) * 100%);
}

@mixin grid-padding-right($cols) {
  padding-right: calc(#{$cols} / var(--grid-total-columns) * 100%);
}

@mixin grid-padding-left($cols) {
  padding-left: calc(#{$cols} / var(--grid-total-columns) * 100%);
}

// GRID NEW.
@mixin grid-wrapper($gap: var(--grid-gutter-mobile)) {
  display: grid;
  grid-template-rows: repeat(var(--grid-total-rows, 1), 1fr);
  grid-template-columns: repeat(var(--grid-total-columns-mobile, 4), 1fr);
  gap: $gap;

  @media screen and (min-width: variables.$breakpoints-tablet) {
    grid-template-columns: repeat(var(--grid-total-columns-tablet, 8), 1fr);
  }

  @media screen and (min-width: variables.$breakpoints-desktop) {
    grid-template-columns: repeat(var(--grid-total-columns, 8), 1fr);
  }
}

@mixin grid-item($i) {
  grid-column: auto / span #{$i};
}

@mixin grid-item-start($i) {
  grid-column-start: #{$i};
}