@use "./../../../../src/scss/variables/breakpoints" as variables;
@use "./../../../../src/scss/functions";
@use "./../../../../src/scss/mixins";

.c-info-box {
  $self: &;

  padding: functions.rem(50px);
  border: 1px solid var(--color-dark);
  display: flex;
  flex-direction: column;
  gap: functions.rem(40px);

  #{$self}__title {
    h2 {
      margin-block-end: 0;
    }
  }
}
